In [1]:
!pip install pandas
!pip install excel
!pip install statistics
!pip install mathematics
!pip install datetime
!pip install matplotlib
!pip install seaborn

Collecting pandas
  Downloading https://files.pythonhosted.org/packages/7e/ab/ea76361f9d3e732e114adcd801d2820d5319c23d0ac5482fa3b412db217e/pandas-0.25.1-cp37-cp37m-manylinux1_x86_64.whl (10.4MB)
     |████████████████████████████████| 10.4MB 3.3MB/s eta 0:00:01
Collecting numpy>=1.13.3 (from pandas)
  Downloading https://files.pythonhosted.org/packages/ba/e0/46e2f0540370f2661b044647fa447fef2ecbcc8f7cdb4329ca2feb03fb23/numpy-1.17.2-cp37-cp37m-manylinux1_x86_64.whl (20.3MB)
     |████████████████████████████████| 20.3MB 53.7MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.6.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2.8.0)
Collecting pytz>=2017.2 (from pandas)
  Downloading https://files.pythonhosted.org/packages/87/76/46d697698a143e05f77bec5a526bf4e56a0be61d63425b68f4ba553b51f2/pytz-2019.2-py2.py3-none-any.whl (508kB)
     |████████████████████████████████| 512kB 42.5MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)
Installing collected packages: numpy, pytz, pandas
Successfully installed numpy-1.17.2 pandas-0.25.1 pytz-2019.2
Collecting excel
  Downloading https://files.pythonhosted.org/packages/9d/5e/1420669f433ca41315685fb9bdc6fe2869a6e525cb6483805f3f4c9d61ad/excel-1.0.0.tar.gz
Collecting xlrd (from excel)
  Downloading https://files.pythonhosted.org/packages/b0/16/63576a1a001752e34bf8ea62e367997530dc553b689356b9879339cf45a4/xlrd-1.2.0-py2.py3-none-any.whl (103kB)
     |████████████████████████████████| 112kB 3.3MB/s eta 0:00:01
Building wheels for collected packages: excel
  Building wheel for excel (setup.py) ... done
  Created wheel for excel: filename=excel-1.0.0-cp37-none-any.whl size=3005 sha256=da83ec73cdc07f02d1304ec5983f6c0b0b50a7351478f2c3eb4baca7aa59b211
  Stored in directory: /home/jovyan/.cache/pip/wheels/19/76/e3/f46c9f0b4594006300affc1b6477ddbb47d3aea96b1dedd9da
Successfully built excel
Installing collected packages: xlrd, excel
Successfully installed excel-1.0.0 xlrd-1.2.0
Collecting statistics
  Downloading https://files.pythonhosted.org/packages/bb/3a/ae99a15e65636559d936dd2159d75af1619491e8cb770859fbc8aa62cef6/statistics-1.0.3.5.tar.gz
Collecting docutils>=0.3 (from statistics)
  Downloading https://files.pythonhosted.org/packages/22/cd/a6aa959dca619918ccb55023b4cb151949c64d4d5d55b3f4ffd7eee0c6e8/docutils-0.15.2-py3-none-any.whl (547kB)
     |████████████████████████████████| 552kB 4.8MB/s eta 0:00:01
Building wheels for collected packages: statistics
  Building wheel for statistics (setup.py) ... done
  Created wheel for statistics: filename=statistics-1.0.3.5-cp37-none-any.whl size=7454 sha256=ab6c99cb9ce76252cc727509863ce8c9a6b75aca0853a66bf912ba9d4d8e3716
  Stored in directory: /home/jovyan/.cache/pip/wheels/75/55/90/73aa7662bfb4565b567618547a275f01372a678ca92ecd64f3
Successfully built statistics
Installing collected packages: docutils, statistics
Successfully installed docutils-0.15.2 statistics-1.0.3.5
Collecting mathematics
  Downloading https://files.pythonhosted.org/packages/4e/51/5b6b1bac9161b8874c36b46e690b39c7e0436a2c03addd8bc1fb71cddad7/mathematics-1.0.0.zip
Building wheels for collected packages: mathematics
  Building wheel for mathematics (setup.py) ... done
  Created wheel for mathematics: filename=mathematics-1.0.0-cp37-none-any.whl size=1547 sha256=affa98a4859a1d74640e0d91b402879033a0b90adc6be7266dc488e33730282c
  Stored in directory: /home/jovyan/.cache/pip/wheels/0b/27/79/1245a67c9b305a1b5797ad4b8668b0360a9ee328c3b877c02f
Successfully built mathematics
Installing collected packages: mathematics
Successfully installed mathematics-1.0.0
Collecting datetime
  Downloading https://files.pythonhosted.org/packages/73/22/a5297f3a1f92468cc737f8ce7ba6e5f245fcfafeae810ba37bd1039ea01c/DateTime-4.3-py2.py3-none-any.whl (60kB)
     |████████████████████████████████| 61kB 2.8MB/s eta 0:00:011
Collecting zope.interface (from datetime)
  Downloading https://files.pythonhosted.org/packages/3a/b5/5cbafbe09bbfc242503b0cd9bcf9dee32458b3ca166f6a63cb7b4f465b60/zope.interface-4.6.0-cp37-cp37m-manylinux1_x86_64.whl (167kB)
     |████████████████████████████████| 174kB 9.8MB/s eta 0:00:01
Requirement already satisfied: pytz in /srv/conda/envs/notebook/lib/python3.7/site-packages (from datetime) (2019.2)
Requirement already satisfied: setuptools in /srv/conda/envs/notebook/lib/python3.7/site-packages (from zope.interface->datetime) (41.0.1)
Installing collected packages: zope.interface, datetime
Successfully installed datetime-4.3 zope.interface-4.6.0
Collecting matplotlib
  Downloading https://files.pythonhosted.org/packages/19/7a/60bd79c5d79559150f8bba866dd7d434f0a170312e4d15e8aefa5faba294/matplotlib-3.1.1-cp37-cp37m-manylinux1_x86_64.whl (13.1MB)
     |████████████████████████████████| 13.1MB 3.4MB/s eta 0:00:01
Collecting pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 (from matplotlib)
  Downloading https://files.pythonhosted.org/packages/11/fa/0160cd525c62d7abd076a070ff02b2b94de589f1a9789774f17d7c54058e/pyparsing-2.4.2-py2.py3-none-any.whl (65kB)
     |████████████████████████████████| 71kB 21.4MB/s eta 0:00:01
Collecting kiwisolver>=1.0.1 (from matplotlib)
  Downloading https://files.pythonhosted.org/packages/93/f8/518fb0bb89860eea6ff1b96483fbd9236d5ee991485d0f3eceff1770f654/kiwisolver-1.1.0-cp37-cp37m-manylinux1_x86_64.whl (90kB)
     |████████████████████████████████| 92kB 30.0MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.11 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (1.17.2)
Collecting cycler>=0.10 (from matplotlib)
  Downloading https://files.pythonhosted.org/packages/f7/d2/e07d3ebb2bd7af696440ce7e754c59dd546ffe1bbe732c8ab68b9c834e61/cycler-0.10.0-py2.py3-none-any.whl
Requirement already satisfied: python-dateutil>=2.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (2.8.0)
Requirement already satisfied: setuptools in /srv/conda/envs/notebook/lib/python3.7/site-packages (from kiwisolver>=1.0.1->matplotlib) (41.0.1)
Requirement already satisfied: six in /srv/conda/envs/notebook/lib/python3.7/site-packages (from cycler>=0.10->matplotlib) (1.12.0)
Installing collected packages: pyparsing, kiwisolver, cycler, matplotlib
Successfully installed cycler-0.10.0 kiwisolver-1.1.0 matplotlib-3.1.1 pyparsing-2.4.2
Collecting seaborn
  Downloading https://files.pythonhosted.org/packages/a8/76/220ba4420459d9c4c9c9587c6ce607bf56c25b3d3d2de62056efe482dadc/seaborn-0.9.0-py3-none-any.whl (208kB)
     |████████████████████████████████| 215kB 3.3MB/s eta 0:00:01
Collecting scipy>=0.14.0 (from seaborn)
  Downloading https://files.pythonhosted.org/packages/94/7f/b535ec711cbcc3246abea4385d17e1b325d4c3404dd86f15fc4f3dba1dbb/scipy-1.3.1-cp37-cp37m-manylinux1_x86_64.whl (25.2MB)
     |████████████████████████████████| 25.2MB 51.2MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.9.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from seaborn) (1.17.2)
Requirement already satisfied: pandas>=0.15.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from seaborn) (0.25.1)
Requirement already satisfied: matplotlib>=1.4.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from seaborn) (3.1.1)
Requirement already satisfied: pytz>=2017.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas>=0.15.2->seaborn) (2019.2)
Requirement already satisfied: python-dateutil>=2.6.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas>=0.15.2->seaborn) (2.8.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=1.4.3->seaborn) (2.4.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=1.4.3->seaborn) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=1.4.3->seaborn) (0.10.0)

Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas>=0.15.2->seaborn) (1.12.0)
Requirement already satisfied: setuptools in /srv/conda/envs/notebook/lib/python3.7/site-packages (from kiwisolver>=1.0.1->matplotlib>=1.4.3->seaborn) (41.0.1)
Installing collected packages: scipy, seaborn
Successfully installed scipy-1.3.1 seaborn-0.9.0

In [3]:
#importando dados
import pandas as pd

name = "UTE Celso Furtado (Bahia - S F C) - 2019 - 05 - mensal_2019_06_03_11_17_01.dat"
#print(data1) se vc printar antes dos comandos abaixo entenderá pq..

data1 = pd.read_csv(name, header = 1) # o nome das colunas estão na primeira linha

data1 = data1[2:] # os valores começam a partir da 2 linha

data1.head()

,TIMESTAMP,RECORD,ID,Ano,Dia,MinDia,T_Bat,Temp_ar,Umid_ar,Pressao,...,Ld_Avg,Ld_Std,Ld_Max,Ld_Min,OL_Avg,OL_Std,OL_Max,OL_Min,Temp_OL,Res_OL
2,2019-05-01 03:00:00,1996090,5,2019,121,179,12.98,26.95,100.3,1011.472,...,409.2,0.588,410,408.4,-39.55,0.497,-38.79,-40.16,25.12,9946.157
3,2019-05-01 03:01:00,1996091,5,2019,121,180,13,26.93,100.4,1011.43,...,408.2,0.561,409.2,407.3,-40.48,0.543,-39.57,-41.29,25.11,9947.469
4,2019-05-01 03:02:00,1996092,5,2019,121,181,12.97,26.94,100.3,1011.353,...,408.1,0.244,408.4,407.5,-40.73,0.29,-40.34,-41.29,25.13,9939.595
5,2019-05-01 03:03:00,1996093,5,2019,121,182,13,26.89,100.5,1011.353,...,407.4,0.218,407.7,406.9,-41.37,0.209,-41.11,-41.82,25.1,9951.374
6,2019-05-01 03:04:00,1996094,5,2019,121,183,12.97,26.89,100.3,1011.39,...,407,0.261,407.6,406.6,-41.81,0.302,-41.2,-42.15,25.16,9928.44

In [4]:
import datetime as dtime

data1['TIMESTAMP'] = pd.to_datetime(data1["TIMESTAMP"])

# Coluna 'Data'
data1['Data'] = data1['TIMESTAMP'].dt.strftime('%d/%m/%Y') #colocando no formato dia/mes/ano
# Coluna 'Hora'
data1['Hora'] = data1['TIMESTAMP'].dt.strftime('%H:%M:%S')
#seprando uma coluna só para dia
data1['dia_new'] = data1.TIMESTAMP.dt.day
#criando uma coluna de dia juliano
data1['julian_day'] = data1.TIMESTAMP.dt.dayofyear

#del data1['TIMESTAMP'] # n vou precisar mais agr vou ponderar a ideia de indexiar o dataframe pela coluna data ou hora
data1.head()

,TIMESTAMP,RECORD,ID,Ano,Dia,MinDia,T_Bat,Temp_ar,Umid_ar,Pressao,...,OL_Avg,OL_Std,OL_Max,OL_Min,Temp_OL,Res_OL,Data,Hora,dia_new,julian_day
2,2019-05-01 03:00:00,1996090,5,2019,121,179,12.98,26.95,100.3,1011.472,...,-39.55,0.497,-38.79,-40.16,25.12,9946.157,01/05/2019,03:00:00,1,121
3,2019-05-01 03:01:00,1996091,5,2019,121,180,13,26.93,100.4,1011.43,...,-40.48,0.543,-39.57,-41.29,25.11,9947.469,01/05/2019,03:01:00,1,121
4,2019-05-01 03:02:00,1996092,5,2019,121,181,12.97,26.94,100.3,1011.353,...,-40.73,0.29,-40.34,-41.29,25.13,9939.595,01/05/2019,03:02:00,1,121
5,2019-05-01 03:03:00,1996093,5,2019,121,182,13,26.89,100.5,1011.353,...,-41.37,0.209,-41.11,-41.82,25.1,9951.374,01/05/2019,03:03:00,1,121
6,2019-05-01 03:04:00,1996094,5,2019,121,183,12.97,26.89,100.3,1011.39,...,-41.81,0.302,-41.2,-42.15,25.16,9928.44,01/05/2019,03:04:00,1,121

In [5]:
data1['Hora'] = data1['Hora'] - dtime.timedelta(hours = 3)
# data1['Data'] = pd.to_datetime(data1['Data']) --  talvez
data1['TIMESTAMP'] = data1['TIMESTAMP'] - dtime.timedelta(hours = 3)

data1.head() # será perguntado ao user se o dado estará 3 horas a frente

,TIMESTAMP,RECORD,ID,Ano,Dia,MinDia,T_Bat,Temp_ar,Umid_ar,Pressao,...,OL_Avg,OL_Std,OL_Max,OL_Min,Temp_OL,Res_OL,Data,Hora,dia_new,julian_day
2,2019-05-01 00:00:00,1996090,5,2019,121,179,12.98,26.95,100.3,1011.472,...,-39.55,0.497,-38.79,-40.16,25.12,9946.157,01/05/2019,00:00:00,1,121
3,2019-05-01 00:01:00,1996091,5,2019,121,180,13,26.93,100.4,1011.43,...,-40.48,0.543,-39.57,-41.29,25.11,9947.469,01/05/2019,00:01:00,1,121
4,2019-05-01 00:02:00,1996092,5,2019,121,181,12.97,26.94,100.3,1011.353,...,-40.73,0.29,-40.34,-41.29,25.13,9939.595,01/05/2019,00:02:00,1,121
5,2019-05-01 00:03:00,1996093,5,2019,121,182,13,26.89,100.5,1011.353,...,-41.37,0.209,-41.11,-41.82,25.1,9951.374,01/05/2019,00:03:00,1,121
6,2019-05-01 00:04:00,1996094,5,2019,121,183,12.97,26.89,100.3,1011.39,...,-41.81,0.302,-41.2,-42.15,25.16,9928.44,01/05/2019,00:04:00,1,121

In [6]:
#criando novas colunas
import numpy as np

data1['Hora_solar'] = 0 
data1['ET'] = 0
data1['Dia_angular'] = 0
data1['ang_hr'] = 0
data1['Hora_local'] = 0 
data1['Declinacao'] = 0
data1['Long ref'] = -45
data1['Longitude'] = -38.57034 #samira passou
data1['Latitude'] = -12.70328 #samira passou
################################################################################################################################

data1['Declinacao'] = 23.45 * np.sin(np.deg2rad((360/365)*(data1['julian_day'] + 284)))
 
data1['Hora_local'] = (data1.TIMESTAMP.dt.hour * 60 ) + 1 + data1.TIMESTAMP.dt.minute # depois criar uma função só pra isso

data1['Dia_angular'] = (2*np.pi) * (data1['julian_day'].astype(float)-1)/365

data1['ET'] = 229.18 * ((0.000075 + 0.001868*np.cos(np.deg2rad(data1['Dia_angular']))) - (0.032077*(np.sin(np.deg2rad(data1['Dia_angular'])))) - (0.014615*(np.cos(np.deg2rad(2*data1['Dia_angular']))))  - (0.04089*(np.sin(np.deg2rad(2*data1['Dia_angular'])))))

data1['Hora_solar'] = data1['Hora_local'] - (4*(data1['Long ref'] - data1['Longitude']) + data1['ET'])/60
                          
data1['ang_hr'] = (data1['Hora_solar'] - 12)*15  

data1.head()

,TIMESTAMP,RECORD,ID,Ano,Dia,MinDia,T_Bat,Temp_ar,Umid_ar,Pressao,...,julian_day,Hora_solar,ET,Dia_angular,ang_hr,Hora_local,Declinacao,Long ref,Longitude,Latitude
2,2019-05-01 00:00:00,1996090,5,2019,121,179,12.98,26.95,100.3,1011.472,...,121,1.492575,-3.835868,2.065705,-157.611373,1,14.900887,-45,-38.57034,-12.70328
3,2019-05-01 00:01:00,1996091,5,2019,121,180,13,26.93,100.4,1011.43,...,121,2.492575,-3.835868,2.065705,-142.611373,2,14.900887,-45,-38.57034,-12.70328
4,2019-05-01 00:02:00,1996092,5,2019,121,181,12.97,26.94,100.3,1011.353,...,121,3.492575,-3.835868,2.065705,-127.611373,3,14.900887,-45,-38.57034,-12.70328
5,2019-05-01 00:03:00,1996093,5,2019,121,182,13,26.89,100.5,1011.353,...,121,4.492575,-3.835868,2.065705,-112.611373,4,14.900887,-45,-38.57034,-12.70328
6,2019-05-01 00:04:00,1996094,5,2019,121,183,12.97,26.89,100.3,1011.39,...,121,5.492575,-3.835868,2.065705,-97.611373,5,14.900887,-45,-38.57034,-12.70328

## Calculando cosseno

In [7]:
# a equação que queremos descobrir é:
# # GH_Max = (Sa x 1.5 x (u*1.2) + 100 ) ------------------ expressão para calcular GH_Max
# para achar u teremos que
# u = cos(AZ) = cos(lat_local)*cos(decli_solar)*cos(ang_hora) + sen(lat_local)*sen(decli_solar)
# agr calculando o u teremos que

data1['Coseno_AZ']= 0

data1['Coseno_AZ']= np.cos(np.deg2rad(data1['Latitude']))*np.cos(np.deg2rad(data1['Declinacao']))*np.cos(np.deg2rad(data1['ang_hr'])) + np.sin(np.deg2rad(data1['Latitude']))*np.sin(np.deg2rad(data1['Declinacao'])) 

print("Se Az > 90, u é nulo")
data1.head()

Se Az > 90, u é nulo

,TIMESTAMP,RECORD,ID,Ano,Dia,MinDia,T_Bat,Temp_ar,Umid_ar,Pressao,...,Hora_solar,ET,Dia_angular,ang_hr,Hora_local,Declinacao,Long ref,Longitude,Latitude,Coseno_AZ
2,2019-05-01 00:00:00,1996090,5,2019,121,179,12.98,26.95,100.3,1011.472,...,1.492575,-3.835868,2.065705,-157.611373,1,14.900887,-45,-38.57034,-12.70328,-0.928204
3,2019-05-01 00:01:00,1996091,5,2019,121,180,13,26.93,100.4,1011.43,...,2.492575,-3.835868,2.065705,-142.611373,2,14.900887,-45,-38.57034,-12.70328,-0.805569
4,2019-05-01 00:02:00,1996092,5,2019,121,181,12.97,26.94,100.3,1011.353,...,3.492575,-3.835868,2.065705,-127.611373,3,14.900887,-45,-38.57034,-12.70328,-0.631890
5,2019-05-01 00:03:00,1996093,5,2019,121,182,13,26.89,100.5,1011.353,...,4.492575,-3.835868,2.065705,-112.611373,4,14.900887,-45,-38.57034,-12.70328,-0.419002
6,2019-05-01 00:04:00,1996094,5,2019,121,183,12.97,26.89,100.3,1011.39,...,5.492575,-3.835868,2.065705,-97.611373,5,14.900887,-45,-38.57034,-12.70328,-0.181413

## Calculando Sa

In [8]:
# Sa = So.Eo
# sendo So uma constante = 1367
# e Eo= 1.000110 + 0.0334221*cos(diaangular) + 0.001280*sen(diaangular) + 0.000719*cos(diangular*2) + 0.000077sin(diaangular*2)

data1['Sa'] = 0
data1['So'] = 1367 #criando coluna So
data1['Eo'] = 0

# Equação de correção de excentricidade de orbita terrestre
data1['Eo'] = 1.000110 + (0.0334221*(np.cos(np.deg2rad(data1['Dia_angular'])))) + (0.001280*(np.sin(np.deg2rad(data1['Dia_angular'])))) + (0.000719*(np.cos(np.deg2rad((2*data1['Dia_angular']))))) + (0.000077*(np.sin(np.deg2rad((2*data1['Dia_angular'])))))

data1['Sa'] = data1['Eo'] * data1['So']

data1.head()

,TIMESTAMP,RECORD,ID,Ano,Dia,MinDia,T_Bat,Temp_ar,Umid_ar,Pressao,...,ang_hr,Hora_local,Declinacao,Long ref,Longitude,Latitude,Coseno_AZ,Sa,So,Eo
2,2019-05-01 00:00:00,1996090,5,2019,121,179,12.98,26.95,100.3,1011.472,...,-157.611373,1,14.900887,-45,-38.57034,-12.70328,-0.928204,1413.859664,1367,1.034279
3,2019-05-01 00:01:00,1996091,5,2019,121,180,13,26.93,100.4,1011.43,...,-142.611373,2,14.900887,-45,-38.57034,-12.70328,-0.805569,1413.859664,1367,1.034279
4,2019-05-01 00:02:00,1996092,5,2019,121,181,12.97,26.94,100.3,1011.353,...,-127.611373,3,14.900887,-45,-38.57034,-12.70328,-0.631890,1413.859664,1367,1.034279
5,2019-05-01 00:03:00,1996093,5,2019,121,182,13,26.89,100.5,1011.353,...,-112.611373,4,14.900887,-45,-38.57034,-12.70328,-0.419002,1413.859664,1367,1.034279
6,2019-05-01 00:04:00,1996094,5,2019,121,183,12.97,26.89,100.3,1011.39,...,-97.611373,5,14.900887,-45,-38.57034,-12.70328,-0.181413,1413.859664,1367,1.034279

## Validação  dos dados

min = -4

x = Sa * 1.5 * (Cos(AZ)** (1.2)) + 100

E o desvio padrão diferente de zero

---> De acordo com o material se AZ > 90 Uo é considerado nulo logo Max = 100 e para o achar o angulo podemos fazer arcoseno ou converter de radianos para graus e salvar em outra coluna e analisar por ela, pos vamos precisar de Cos(AZ) 1.2 e Cos(AZ) 0.2 vamos colocar zero nessas colunas se AZ > 90.

In [9]:
data1['Coseno_AZ_Ang'] = np.rad2deg(np.arccos(data1['Coseno_AZ']))
######################################################## teste ################################################################

#criando coluna com U elevado a 1.2
data1.loc[data1['Coseno_AZ_Ang'] > 90 , '1.2_do_cosseno'] = 0
data1.loc[data1['Coseno_AZ_Ang'] < 90 , '1.2_do_cosseno'] = (data1['Coseno_AZ'])**(1.2)

# Criando coluna com U elevado a 0.2
data1.loc[data1['Coseno_AZ_Ang'] > 90 , '0.2_do_cosseno'] = 0
data1.loc[data1['Coseno_AZ_Ang'] < 90 , '0.2_do_cosseno'] = (data1['Coseno_AZ'])**(0.2)

data1.head(420) # deu certo

,TIMESTAMP,RECORD,ID,Ano,Dia,MinDia,T_Bat,Temp_ar,Umid_ar,Pressao,...,Long ref,Longitude,Latitude,Coseno_AZ,Sa,So,Eo,Coseno_AZ_Ang,1.2_do_cosseno,0.2_do_cosseno
2,2019-05-01 00:00:00,1996090,5,2019,121,179,12.98,26.95,100.3,1011.472,...,-45,-38.57034,-12.70328,-0.928204,1413.859664,1367,1.034279,158.156569,0.000000,0.000000
3,2019-05-01 00:01:00,1996091,5,2019,121,180,13,26.93,100.4,1011.43,...,-45,-38.57034,-12.70328,-0.805569,1413.859664,1367,1.034279,143.665270,0.000000,0.000000
4,2019-05-01 00:02:00,1996092,5,2019,121,181,12.97,26.94,100.3,1011.353,...,-45,-38.57034,-12.70328,-0.631890,1413.859664,1367,1.034279,129.189695,0.000000,0.000000
5,2019-05-01 00:03:00,1996093,5,2019,121,182,13,26.89,100.5,1011.353,...,-45,-38.57034,-12.70328,-0.419002,1413.859664,1367,1.034279,114.771588,0.000000,0.000000
6,2019-05-01 00:04:00,1996094,5,2019,121,183,12.97,26.89,100.3,1011.39,...,-45,-38.57034,-12.70328,-0.181413,1413.859664,1367,1.034279,100.452084,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417,2019-05-01 06:55:00,1996505,5,2019,121,594,13.02,26.23,100.4,1011.507,...,-45,-38.57034,-12.70328,0.515888,1413.859664,1367,1.034279,58.943194,0.451925,0.876014
418,2019-05-01 06:56:00,1996506,5,2019,121,595,13.02,26.43,100.3,1011.469,...,-45,-38.57034,-12.70328,0.690244,1413.859664,1367,1.034279,46.350608,0.640919,0.928540
419,2019-05-01 06:57:00,1996507,5,2019,121,596,13.02,26.29,100.4,1011.51,...,-45,-38.57034,-12.70328,0.813707,1413.859664,1367,1.034279,35.540297,0.780839,0.959607
420,2019-05-01 06:58:00,1996508,5,2019,121,597,13.02,26.46,100.4,1011.469,...,-45,-38.57034,-12.70328,0.877864,1413.859664,1367,1.034279,28.614255,0.855288,0.974284
421,2019-05-01 06:59:00,1996509,5,2019,121,598,13.02,26.32,100.4,1011.507,...,-45,-38.57034,-12.70328,0.878342,1413.859664,1367,1.034279,28.556971,0.855848,0.974390

## Calculando desvio padrão da Global horizontal

In [9]:
# criar uma função só pra isso
# e nessa função se passar no desvio padrão ai vamos para o outro teste
if(data1['Global_Avg'].astype(float).std() != 0):
    print("Sua variação é diferente de 0, logo é um dado fisicamente possivel\n")
    print("O valor do desvio padrão é: ",data1['Global_Avg'].astype(float).std())
    
else:
    print("Seu dado não é fisicamente impossivel revise seu equipamento")

Sua variação é diferente de 0, logo é um dado fisicamente possivel

O valor do desvio padrão é:  257.9859265983977

In [36]:
#intervalo para fisicamente possivel 
data1['min_gh'] = -4
data1['min_gh_ER'] = -2
data1['max_gh'] = data1['Sa'] *  (1.5) * data1['1.2_do_cosseno'] + 100
data1['max_gh_Er'] = data1['Sa'] *  (1.2) * data1['1.2_do_cosseno'] + 50

#criando coluna de fisicamente possivel
data1.loc[(data1['Global_Avg'].astype(float) >= data1['min_gh']) & (data1['Global_Avg'].astype(float) <= data1['max_gh']), 'teste_poss'] = 'susu'
data1.loc[(data1['Global_Avg'].astype(float) < data1['min_gh']) & (data1['Global_Avg'].astype(float) > data1['max_gh']), 'teste_poss'] = 'bozo'

#criando coluna de extremamente raro
data1.loc[(data1['Global_Avg'].astype(float) <= data1['min_gh']) & (data1['Global_Avg'].astype(float) >= data1['min_gh_ER']), 'teste_ER'] = 'raro_min'
data1.loc[(data1['Global_Avg'].astype(float) <= data1['max_gh']) & (data1['Global_Avg'].astype(float) >= data1['max_gh_Er']), 'teste_ER'] = 'raro_max'

#data1.head()
#data1.to_csv('nome_do_arquivo_para_salvar.csv') #para salvar